<h1>
    {{ technology.name | uppercase }}
    <small>{{ technology.createdAt | date: "y" }}</small>
</h1>
<hr />
<div class="row">
    <div class="col col-md-4">
        <img [src]="technology.logo" class="card-img-top img-fluid" [alt]="technology.name" />
        <br />
        <br />
        <a [routerLink]="['/technologies']" class="btn btn-outline-danger btn-lg btn-block">
      Go back
    </a>
    </div>
    <div class="col col-md-8">
        <h3> {{ technology.name }}</h3>
        <hr>
        <p>{{ technology.description }}</p>
        <p class="card-text"><small class="text-muted" *ngFor="let item of technology.tags">
          <a href="#">
              {{item}}
          </a>
          </small></p>
    </div>

</div>