<div class="card" style="width: 18rem;">
    <img [src]="technology.logo" class="card-img-top img-fluid" [alt]="technology.name">
    <div class="card-body">
        <h5 class="card-title">{{technology.name}}</h5>
        <p class="card-text">{{technology.description}}</p>
        <p class="card-text"><small class="text-muted" *ngFor="let item of technology.tags">
          <a href="#">
            {{item}}
          </a>
          </small></p>

        <a [routerLink]="['/technology',technology._id]" class="btn btn-outline-primary">
            See More
          </a>
    </div>
</div>